<!DOCTYPE
	PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<meta charset="utf-8">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title>
		Time Episodes
	</title>
  <link rel="shortcut icon" href="/images/favicon.ico"> 
	<%= javascript_include_tag "jquery" %>
	<%= javascript_include_tag "jQueryTimelinr_094/js/jquery.timelinr-0.9.4" %>
	<%= stylesheet_link_tag "../javascripts/jQueryTimelinr_094/css/style.css" %>
	
	
	<script type="text/javascript"> 
	$(function(){
		$().timelinr({
			orientation: 'horizontal',
		         // value: horizontal | vertical, default to horizontal
		         containerDiv: '#timeline',
		         // value: any HTML tag or #id, default to #timeline
		         datesDiv: '#dates',
		         // value: any HTML tag or #id, default to #dates
		         datesSelectedClass: 'selected',
		         // value: any class, default to selected
		         datesSpeed: 500,
		         // value: integer between 100 and 1000 (recommended), default to 500 (normal)
		         issuesDiv : '#issues',
		         // value: any HTML tag or #id, default to #issues
		         issuesSelectedClass: 'selected',
		         // value: any class, default to selected
		         issuesSpeed: 200,
		         // value: integer between 100 and 1000 (recommended), default to 200 (fast)
		         issuesTransparency: 0.2,
		         // value: integer between 0 and 1 (recommended), default to 0.2
		         issuesTransparencySpeed: 500,
		         // value: integer between 100 and 1000 (recommended), default to 500 (normal)
		         prevButton: '#prev',
		         // value: any HTML tag or #id, default to #prev
		         nextButton: '#next',
		         // value: any HTML tag or #id, default to #next
		         arrowKeys: 'false',
		         // value: true/false, default to false
		         startAt: 1,
		         // value: integer, default to 1 (first)
		         autoPlay: 'true',
		         // value: true | false, default to false
		         autoPlayDirection: 'forward',
		         // value: forward | backward, default to forward
		         autoPlayPause: 3400
		         // value: integer (1000 = 1 seg), default to 2000 (2segs)
		})
	});
	</script>
</head>

<body>
	Variations On The Canon By Pachelbel<audio src="/music/c.mp3" autoplay=true></audio>
	<div id="timeline">
		<ul id="dates">
			<% @time_episodes.each do |r| %>
				<li><a href="#<%= r.line %>"><%= r.line %></a></li>
			<% end %>
		</ul>
		<ul id="issues">			
			<% @time_episodes.each do |r| %>
				<li id="<%= r.line %>">
					<%= image_tag r.pic.url(:medium), :width => "256", :height => "256"%>
					<h1><%= r.title %></h1>
					<p><%= r.content %></p>
				</li>
			<% end %>
		</ul>
		<div id="grad_left"></div>
		<div id="grad_right"></div>
		<a href="#" id="next">+</a>
		<a href="#" id="prev">-</a>
	</div>
	
</body>
</html>
